<div class="about-page">
    <!-- <h1 class="page-title">Hello there</h1> -->
    <img src="https://scontent.fsof8-1.fna.fbcdn.net/v/t39.30808-6/326914180_1353888885394675_7133878519757325655_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vqtXYobk2uwAX8-g4ql&_nc_ht=scontent.fsof8-1.fna&oh=00_AfB-dCtq0V06ck_MIQDxYY_fVsKknZSnY0yMlI0qwOOwyw&oe=63EA0E18"
        alt="Profile photo">
    <p class="page-content">
        Hello there! My name is Daniel Iliev and I am currently enrolled in the SoftUni's (Bulgaria) JavaScript Web Development
        course. The purpose of this application is to demonstrate my knowledge of the Angular framework as well as
        TypeScript / JavaScript programming languages.
        <br>
        <br>
        The tools used for this project are as follows:<br>
        Angular - version 15.0.1 <br>
        TypeScript - version 4.8.4 <br>
        SCSS - for the styling <br>
        Angular Material - version 15.0.1 <br>
        HTML5
    </p>
</div>