<div class="add-note-container">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        <h2>Add your note</h2>
        <mat-form-field appearance="fill">
            <mat-label>Note title</mat-label>
            <input matInput type="text" formControlName="note-title" placeholder="Write your title here..." required="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Note content</mat-label>
            <textarea matInput formControlName="note-content" cols="30" rows="10" required="true" placeholder="Write your note..."></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button>
            Add note
        </button>
    </form>
</div>
<div class="notes-container">
    <div *ngFor="let note of notes; let noteId = index;">
        <div class="note-block" (click)="triggerModal(noteId)" title="Show more...">
            <div class="note-title">
                <h1>{{ note.title }}</h1>
            </div>
            <p class="note-content">
                {{ note.content }}
            </p>
            <div class="note-info">
                <span>Created on: {{ note.createdOn }} | Due to: {{ note.dueTo }} | Priority: {{ note.priority }}</span>
            </div>
        </div>
    </div>
</div>