<div id="notes">
    <!-- Note form container -->
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened class="add-note-container" [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
            <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
                <h1>Write down your note</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Note title</mat-label>
                    <input matInput type="text" formControlName="note-title" placeholder="Write your title here..."
                        required="true">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Note content</mat-label>
                    <textarea matInput formControlName="note-content" cols="30" rows="10" required="true"
                        placeholder="Write your note..."></textarea>
                </mat-form-field>
                <div class="add-note-footer">
                    <button type="submit" mat-raised-button>
                        Add note
                    </button>
                </div>
            </form>
        </mat-sidenav>
    </mat-sidenav-container>

    <!-- Notes container -->
    <div class="notes-container">
        <div *ngFor="let note of notes; let noteId = index;">
            <div class="note-block" (click)="triggerModal(noteId)" title="Show more...">
                <div class="note-title">
                    <h1>{{ note.title }}</h1>
                </div>
                <p class="note-content">
                    {{ note.content }}
                </p>
                <div class="note-info">
                    <span *ngIf="hasNotes">Created on: {{ note.createdOn }}</span>
                </div>
            </div>
        </div>
    </div>
</div>