mat-toolbar {
    position: fixed;
    top: 0;
    background-color: #a0744f;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    z-index: 1000;

    .logo {
        margin-right: auto;
        transition: color ease 0.3s 0s;

        &:hover {
            cursor: pointer;
            color: #ddd;
        }
    }

    .nav-links {
        justify-content: flex-end;
        list-style: none;
        align-items: center;

        li {
            display: inline-block;
            justify-content: space-around;
            padding: 0 20px;
        }
        
        a {
            
            transition: all ease 0.3s 0s;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #ddd;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .mobile-link {
        display: none;
    }
}

@media all and (max-width:768px) {
    .desktop-link {
        display: none;
    }
}