<nav>
    <mat-toolbar>
        <span class="logo" routerLink="/">My Diary</span>
        <ul class="nav-links">
            <li>
                <button class="mobile-link" mat-icon-button aria-label="Notes button" routerLink="/notes">
                    <mat-icon>event</mat-icon>
                </button>
                <a class="desktop-link" routerLink="/notes">My Notes</a>
            </li>
            <li>
                <button class="mobile-link" mat-icon-button aria-label="About button" routerLink="/about">
                    <mat-icon>info</mat-icon>
                </button>
                <a class="desktop-link" routerLink="/about">About</a>
            </li>
        </ul>
    </mat-toolbar>
</nav>